<a href="https://colab.research.google.com/github/Santoshuske/Analyst-AI-Python-/blob/main/Analyst_AI.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [2]:
HEADERS = ({'User-Agent':'Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/111.0.0.0 Safari/537.36', 'Accept-Language': 'en-US, en;q=0.5'})

In [3]:
listt=[]
for x in range(1,21):
  url="https://www.amazon.in/s?k=bags&crid=2M096C61O4MLT&qid=1653308124&sprefix=ba%2Caps%2C283&ref=sr_pg_"+str(x)
  r=requests.get(url,headers=HEADERS)
  soup=BeautifulSoup(r.content,'html.parser')
  for i in range(0,16):
    bags = soup.find_all('div', {'data-component-type': 's-search-result'})[i]
    data={
     "Product Name":bags.find("span",{"class":"a-size-medium a-color-base a-text-normal"}).text,
     "Product URL" : bags.find('a', {'class': 'a-link-normal s-no-outline'})['href'],
     "Product Price":bags.find('span',{"class":"a-price-whole"}).text,
     "Rating":bags.find('span',{"class":"a-size-base"}).text,
     "Number of reviews":bags.find('span',{"class":"a-size-base s-underline-text"}).text}
    listt.append(data)

In [4]:
df = pd.DataFrame(listt)

In [5]:
df.head()

,Product Name,Product URL,Product Price,Rating,Number of reviews
0,American Tourister 32 Ltrs Black Casual Backpa...,/American-Tourister-AMT-SCH-02/dp/B07CJCGM1M/r...,"1,199",4.0,"(52,349)"
1,Wesley Milestone 2.0 Casual Waterproof Laptop ...,/Wesley-Milestone-Waterproof-Backpack-Business...,565,4.3,"(9,839)"
2,ADISA 15.6 inch Laptop Backpack Office Bag Col...,/ADISA-Laptop-Backpack-Office-College/dp/B09TP...,499,3.9,(573)
3,Skybags Brat Black 46 Cms Casual Backpack,/Skybags-Brat-Black-Casual-Backpack/dp/B08Z1HH...,669,4.1,"(3,791)"
4,Lavie Sport Lino Large Size 63 cms Wheel Duffl...,/Lavie-Sport-Duffle-Luggage-Trolley/dp/B097RJ2...,949,3.9,"(6,332)"

In [6]:
df.shape

(320, 5)

In [ ]:
# • Product URL
# • Product Name
# • Product Price
# • Rating
# • Number of reviews

In [10]:
base_url = 'https://www.amazon.in'

In [12]:
import re

In [13]:
# Initialize an empty list to store the scraped data
data = []

# Loop through each product URL
for product_url in df['Product URL']:
    # Make a GET request to the product page URL
    r = requests.get(base_url + product_url)
    soup = BeautifulSoup(r.content, 'html.parser')
    
    # Extract the ASIN from the product page URL
    asin = re.findall('/([A-Z0-9]{10})(?:[/?]|$)', product_url)[0]
    
    # Extract the product description
    try:
        description = soup.find('div', {'id': 'productDescription'}).text.strip()
    except AttributeError:
        description = ''
    
    # Extract the product manufacturer
    try:
        manufacturer = soup.find('a', {'id': 'bylineInfo'}).text.strip()
    except AttributeError:
        manufacturer = ''
    
    # Append the extracted data to the list
    data.append({
        'Product URL': product_url,
        'ASIN': asin,
        'Product Description': description,
        'Manufacturer': manufacturer
    })

# Convert the list to a pandas dataframe
df2= pd.DataFrame(data)

IndexError: ignored

In [17]:
df2.head()

,Product URL,ASIN,Product Description,Manufacturer
0,/American-Tourister-AMT-SCH-02/dp/B07CJCGM1M/r...,B07CJCGM1M,,
1,/Wesley-Milestone-Waterproof-Backpack-Business...,B084JGJ8PF,,
2,/ADISA-Laptop-Backpack-Office-College/dp/B09TP...,B09TPX22NF,,
3,/Skybags-Brat-Black-Casual-Backpack/dp/B08Z1HH...,B08Z1HHHTD,,
4,/Lavie-Sport-Duffle-Luggage-Trolley/dp/B097RJ2...,B097RJ22Q3,,

In [18]:
df2.shape

(320, 4)

In [20]:
len(df2['ASIN'].unique())

18